/*  React Select  */

/*  SearchBox & MenuSearchBox  */
.SelectVehicleType > .Select-control {
  border-radius: 0;
  border: 0;
}

.SelectVehicleTypeSearch > .Select-control {
  height: 42px;

  border-radius: 0;
  border: 0;
}

.SelectVehicleTypeSearch > .Select-menu-outer {
  border: none;
}

.SelectVehicleTypeSearch.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #cfcfcf;
  box-shadow: none;
}

.Select-placeholder,
.SelectVehicleTypeSearch.Select--single > .Select-control .Select-value {
  line-height: 44px !important;
}

/* Checkout */

.SelectCC > .Select-control > span > .Select-value {
  padding: 4px 8px;
}

.SelectCC.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #cfcfcf;
  box-shadow: none;
}

/* Shared */

.Select-menu > .Select-option.is-focused {
  background-color: #eee;
}

.Select-menu > .Select-option.is-selected {
  background-color: #f5f5f5;
}

.Select-control > .Select-clear-zone:hover {
  color: #444;
}

/*  React Date Picker  */

.DayPickerInput {
  width: 100%;
  color: #394047;
  font-size: 16px;
}

.DayPickerInput > input {
  box-sizing: border-box;
  width: 100%;
  line-height: 22px !important;

  background-color: white;
  padding: 10px 12px;
  border: 0;

  outline: none;
}

.DayPickerInput-OverlayWrapper > .DayPickerInput-Overlay {
  z-index: 3;
}

.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #d0dce7 !important;
  color: #324153;
}
.DayPicker-Day {
  border-radius: 0 !important;
}
.DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.InputFromTo-to .DayPickerInput-Overlay {
  margin-left: -198px;
}

.DayPicker-Day--today {
  color: #283158 !important;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: #f0f8ff !important;
  background-color: #535b65 !important;
}

/* React Accordion */

.accordion__arrow {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
}

.accordion__arrow::after,
.accordion__arrow::before {
  display: block;
  position: absolute;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: currentColor;
  content: '';
}

[aria-expanded='true'] .accordion__arrow::before {
  transform: rotate(-45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.accordion__arrow::before {
  left: 4px;
  transform: rotate(45deg);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

[aria-expanded='true'] .accordion__arrow::after {
  transform: rotate(45deg);
}

.accordion__arrow::after {
  right: 4px;
  transform: rotate(-45deg);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-down {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.accordion__title--animated:hover .accordion__arrow {
  animation-name: move-down;
  animation-duration: 1.5s;
}

.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow {
  animation-name: move-up;
  animation-duration: 1.5s;
}

.accordion__title:focus {
  outline: none;
}

.accordion__title {
  cursor: pointer;
}

.borderShadow:hover {
  box-shadow: 0 4px 8px 0px rgba(171, 167, 167, 0.2);
}
